$spot-color: #415BA5;
$section-padding: 2rem;
$teaser-img: 1rem;

$h2-color: #415BA5;

$h2-medium: 1.6rem;
$h2-large: 2.3rem;
$h2-xxlarge: 2.8rem;

$h3-medium: 1.4rem;
$h3-large: 1.8rem;
$h3-xxlarge: 2.3rem;

$paragraph-medium: 1.3rem;
$paragraph-large: 1.4rem;
$paragraph-xxlarge: 1.5rem;

$icon-box-small: 1.1rem;
$icon-box-medium: 1.3rem;
$icon-box-large: 1.7rem;
$icon-box-xxlarge: 1.8rem;

$icon-list-medium: 1.3rem;
$icon-list-large: 1.5rem;
$icon-list-xxlarge: 1.6rem;

$fa-icons-medium: 2.5rem;
$fa-icons-large: 3.2rem;

$nav-font-small: 1.2rem;
$nav-font-medium: 1.25rem;
$nav-font-large: 1.35rem;

$section-background1: linear-gradient(to bottom,rgba(231,108,20,.15) 0,rgba(231,108,20,0) 100%);
